.works_on_smartphone{
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;

}
main{
    background-color: #a0dde6;
    display: flex;
    flex-direction: row;
    flex:auto;
    /* margin-top: 0; */
}
article{
    flex:2;
    overflow: auto;
}
aside{
    flex: 1;
    overflow: auto;
    margin-left: 100px;
    padding-top: 30px;
}
header{
    background-color: #1e145f;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

footer{
    background-color: #80C2AF;
}
header nav{
    list-style: none;
    display: flex;
   justify-content:space-between;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap:1rem;
    
    
}
nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #615f8d;
    padding-right: 10px;
    font-weight: 600;
}

.logo{
   width:15px;
   padding:5px;
}

table, th, td{
    border:2px solid #ffff;
    border-collapse: collapse;
}
